/* Aside em Desktop */
.aside {
  background-color: #000030;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  position: fixed;
  padding: 1vh;
  top: 0;
  left: 0;
  right: 0;
  width: 20%;
  height: 95%;

  /* Responsividade para dispositivos com tela menor que tablets */
  @media (max-width: 1024px) {
    display: none;
  }

  /* Componentes do aside */
  .aside-component {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    display: grid;
    width: 75%;
    border-radius: 15px;
    padding: 4vh 3vh;
    margin: 0 auto;
    width: 80%;
  }

  /* listas do componente */
  .aside-list {
    list-style-type: none;
    gap: 10px;

    /* Itens do componente */
    .aside-item {
      color: white;
      text-decoration: none;
      display: flex;
      gap: 15px;
      padding: 1.5vh 2vh;
      align-items: center;

      /* Imagem do componente */
      .aside-img {
        width: 28px;
      }
    }
  }

  .contact-list li {
    font-size: smaller;
  }
}
