/* Header */
.aside {
  background-color: #000030;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-radius: 5px;
}

.nav{
  margin: 1.5vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.2);
}

.nav-link {
  display: flex;
  padding: 1.5vh 2vh;
  color: white;
  text-decoration: none;
}

.nav-link h1{
  font-size: medium;
  margin: 1vh 0;
  margin-left: 2vh;
}

.nav-img {
  width: 16px;
  height: 16px;
  margin: auto 0;
}
