/* Estilo do conteiner do Header  */
.header {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  width: 75%;
  margin: 4vh auto;
  padding: 2vh 4vh;
}

/* Estilo do Titulo principal  */
.header h3,a{
  color: white;
  text-decoration: none;
  width: max-content;
  height: max-content;
  margin: auto 0;
}

/* Estilo do Botão para abrir o Modal  */
.modal-btn{
  cursor: pointer;
  position: relative;
  display: block;
  height: max-content;
  width: 30px;
  background: none;
  border: 0px;
}
.modal-btn span{
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 30px;
  background-color: white;
}
.modal-btn:hover span{ 
  transition: 500ms; 
  background-color: rgba(200, 200, 200,0.9); 
}
.modal-btn span:nth-child(1){ top: 5px; }
.modal-btn span:nth-child(2){ top: 10px; }
.modal-btn span:nth-child(3){ top: 15px; }

/* Estilo do Botão para fechar o Modal  */
.modal-btn-close{
  cursor: pointer;
  position: relative;
  display: block;
  height: max-content;
  width: 30px;
  background: none;
  border: 0px;
}
.modal-btn-close span{
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}.modal-btn-close:hover span{
  transition: 500ms;
  background-color: rgba(200, 200, 200,0.9);
}
.modal-btn-close span:nth-child(1){ transform: rotate(-50deg); }
.modal-btn-close span:nth-child(2){ transform: rotate(50deg); }

/* Responsividade para dispositivos Menores que tablets  */
@media (max-width: 1024px) {
  /* Estilo do conteiner Header  */
  .header {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  /* Estilo para o Modal  */
  .nav-link h4{
    font-size: small;
  }
  .nav-link img{
    width: 16px;
  }
  .topskill h3{
    font-size: small;
  }
}
