.about{
  width: 100%;
}

/* título */
.about-h1 {
  font-size: 64px;
  font-weight: 800;
}
.about h2 , .about
p {
  padding: 1vh 4vh;
}
.about-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
