/* título */
.title{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 28vh auto;
}

/* texto no título */
.title-text {
    width: 100%;
    height: auto;
    margin: auto;
}

/* navegação na página */
.title .nav{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.title .nav-link{
    text-decoration: none; 
}

@media(max-width: 1024px){
    .title{
        display: flex;
        flex-direction: column;
        margin: 8vh auto;
        gap: 5vh;
    }

    .title-text{
        width: 100%;
    }
}