*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500px;
  margin: 1vh;
  background-color: #000030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 720px){
  body{
    margin: 0.5vh;
  }
}