* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #000030;
  display: flex;
  position: relative;

  @media (max-width: 1024px) {
    display: grid;
    margin: 0;
    padding: 0;
  }

  &:nth-child(2) {
    margin-left: 20%;
    position: absolute;

    @media (max-width: 1024px) {
      margin-left: 0;
    }
  }

  #root {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  main {
    margin: 4vh auto;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 90%;

    @media (max-width: 1024px) {
      width: 75%;
      padding: 5vh 3vh;
      margin: 2vh auto;
    }
  }

  section {
    margin: 4vh auto;
    width: 90%;
    @media (max-width: 1024px) {
      margin: 0;
    }
  }

  .title-page {
    width: max-content;
    margin: 5vh auto 15vh;
    font-size: xxx-large;
    font-weight: 900;

    @media (max-width: 1024px) {
      font-size: xx-large;
      margin: 1vh auto 4vh;
    }
  }
}
