.playlist{
    display: grid;
    grid-template-columns: 50% 50%;
}

.playlist-item {
    background-color: rgba(255, 255, 255, 0.1);
    width: 400px;
    margin: 2vh;
    padding: 2vh;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}