.project {
  .project-title {
    width: 70%;
    margin: 2vh auto 6vh 0;
    display: grid;
    line-height: 1.5;

    @media (max-width: 1024px) {
      display: grid;
      gap: 15px;
      width: 80%;
      font-size: medium;
      margin: 2vh auto 8vh;
    }

    p {
      @media (max-width: 1024px) {
        font-size: small;
      }
    }
  }

  .project-list {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 20px;
    border-radius: 15px;
    width: 100%;
    margin: auto;
    position: relative;

    @media (max-width: 1024px) {
      grid-template-columns: 100%;
      width: 90%;
      padding: 0;
      margin: 2vh auto;
    }
    .project-item {
      border-radius: 15px;
      background-color: rgba(0, 0, 255, 0.15);
      font-size: medium;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 5vh 3vh;
      font-weight: 800;
      height: max-content;
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);

      @media (max-width: 1024px) {
        width: auto;
      }

      &:hover {
        transition: 800ms;
        box-shadow: 0px 0px 20px 1px rgba(10, 10, 10, 0.9);
      }

      .project-img {
        margin: 1vh auto;
        width: 90%;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
      }

      h2 {
        @media (max-width: 1024px) {
          font-size: small;
        }
      }
      .project-info {
        width: 90%;
        margin: 2vh auto;
        display: grid;
        gap: 10px;

        h1 {
          font-size: x-large;
          font-weight: bolder;
          width: max-content;
        }
        h2 {
          font-size: medium;
        }
      }
    }
  }
}
