.project-text {
  width: 45%;
  margin: 5vh auto;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 7vh 10vh;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  position: relative;
}

.project {
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.15);
  font-size: medium;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4vh 3vh;
  font-weight: 800;
  height: max-content;
}.project:hover{
  transition: 800ms;
  box-shadow: 2px 2px 10px 3px rgba(51, 51, 51, 0.5);
}

.project-info {
  width: 90%;
  margin: 2vh auto;
  display: grid;
  gap: 10px;
}

.project-img {
  margin: 1vh auto;
  width: 90%;
  max-height: 40%;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.project-info h1{
  font-size: x-large;
  font-weight: bolder;
  width: max-content;
}.project-info h2{
  font-size: medium;
}

.project-empty {
  margin: auto;
  width: 64px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 12% 40%;
}
.project-empty:hover,
.projects:focus {
  transition: 3s;
  background-color: #7f7fffc5;
  width: 410;
}

.project-name {
  font-weight: 800;
  margin: auto;
  width: max-content;
}


@media (max-width: 1024px) {
  .projects {
    grid-template-columns: 1fr;
    width: 60%;
  }
}
