.skill-text{
  width: 45%;
  margin: 2vh auto;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; */
  gap: 3vh;
  justify-content: space-around;
  border-radius: 15px;
  width: 80%;
  margin-bottom: 2vh;
  margin: 2vh auto
}

.skill{
  background-color: #000096;
  padding: 2vh 4vh;
  border-radius: 10px;
  width: 40%;
}

.skill:hover .skill-desc{
  transition: 1s initial;
  display: block;
  opacity: 1;
  animation: SkillDesc 1s infinite;
}

.skill-title {
  display: flex;
  color: white;
  justify-items: center;
  width: max-content;
}

.skill-desc{
  display: none;
  opacity: 0;
  margin: 3vh 2vh;
}

.skill h2{
  height: max-content;
  margin: auto;
}

.skill img {
  width: 128px;
}

@media(max-width: 1024px){
  .skills{
    width: 65%;
    grid-template-columns: 1fr;
    gap: 4vh;
    margin: auto;
  }

  .skill{
    margin: auto;
  }
}

@keyframes SkillDesc {
  0%{display: none; opacity: 0;}
  100%{display: block; opacity: 1;}
}