/* Importando estilos Página Home */
@import url("@/styles/home.scss");
@import url("@/styles/playlist.scss");

/* Importando estilos Página Habilidades */
@import url("@/styles/skills.scss");

/* Importando estilos página projetos */
@import url("@/styles/project.scss");

/* Importando estilos de layout da página */
@import url("@/styles/layout/aside.css");
@import url("@/styles/layout/header.css");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #000030;
  display: flex;
  position: relative;
}
body:nth-child(2) {
  margin-left: 20%;
  position: absolute;
}

main {
  margin: 2vh auto;
  padding: 6vh;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 90%;
}

@media (max-width: 1024px) {
  body {
    display: grid;
    margin: 0;
    padding: 0;
  }
  body:nth-child(2) {
    margin-left: 0;
  }
  main {
    width: 80%;
    padding: 5vh 3vh;
    margin: 2vh auto;
  }
  section {
    margin-top: 5vh;
  }
}
