// Importando estilos globais
@import url("@/styles/index.scss");

/* Importando estilos P치gina Home */
@import url("@/components/home/about.scss");
@import url("@/components/playlist/playlist.scss");

/* Importando estilos P치gina Habilidades */
@import url("@/components/skill/skills.scss");

/* Importando estilos p치gina projetos */
@import url("@/components/project/project.scss");

/* Importando estilos de layout da p치gina */
@import url("@/components/layout/aside/aside.scss");
@import url("@/components/layout/header/header.scss");
