
  .skills{
    display: flex;
    justify-content:space-around;
    padding-top: 10vh;
  }

  .desc-skills{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
  }

  .item-skill{
    background-color: rgba(44, 44, 44, 0.575);
    width: 20%;
    padding: 3vh;
    border-radius: 15px;
}.item-skill:hover, .item-skill:focus{
  width: 22%;
  transition: 0.9s ease-in-out;
  position: static;
}

.item-skill .img-item img{
  width: 50%;
}

.item-skill .img-item img{
    width: 100%;
}

.item-skill .desc-item{
  max-width: max-content;
  margin: auto;
}