.about {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  h2{
    width: max-content;
    
    @media (max-width: 1040px) {
      font-size: larger;
    }  
  }
  @media (max-width: 1040px) {
    gap: 0;
    margin: 2vh auto 8vh;
    flex-direction: column;
    width: 90%;
  }
  .about-name {
    width: 100%;
    font-size: xxx-large;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: center;
    font-weight: 800;
    height: max-content;
    @media (max-width: 1040px) {
      font-size: small;
      display: none;
    }

    h2 {
      width: 100%;
      height: max-content;

      @media (max-width: 1040px) {
        width: max-content;
        font-size: larger;
        padding: 1vh 1vh;
        height: max-content;
      }
    }
  }

  .about-text {
    display: grid;
    gap: 15px;
    width: 60%;
    height: max-content;

    @media (max-width: 1024px) {
      width: 100%;
      margin: auto;
      margin-top: 1vh;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      height: max-content;
      width: 90%;

      @media (max-width: 1040px) {
        font-size: x-small;
      }
    }
  }

  .about-picture {
    width: 220px;
    height: 350px;
    border-radius: 5px;
    filter: opacity(0.7);

    @media (max-width: 1024px) {
      display: none;
    }
  }
}
