/* conteiner com as playlists */
.playlist-list {
  display: flex;
  width: 80%;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;

  /* Estilo do item */
  .playlist-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    padding-bottom: 15px;
    text-decoration: none;
    width: 200px;

    /* Animação barra de progresso */
    &:hover .playlist-bar {
      width: 95%;
    }
    /* Estilo barra de progresso  */
    .playlist-bar {
      display: block;
      width: 0%;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      height: 3px;
      margin: 0.5vh auto 1vh;
      transition: all 500ms ease-in-out;
    }
    // Título da playlist
    .playlist-title {
      display: flex;
      height: auto;
      width: max-content;
      gap: 20px;

      img {
        width: 22px;
        height: 22px;
      }

      h3 {
        font-size: medium;
        height: max-content;
        margin-top: auto;
      }
    }
  }

  /* Media query para Telas menores que Tablet */
  @media (max-width: 800px) {
    margin-top: 4vh;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    .playlist-item {
      padding: 10px 25px;
      padding-bottom: 15px;
      margin: 0 auto;
      width: 80%;

      .playlist-title {
        img {
          width: 14px;
          height: 14px;
        }

        h3 {
          font-size: small;
          width: 100%;
        }
      }
    }
  }
}
