/* conteiner com as playlists */
.playlist-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: auto;

  /* Media query para Telas menores que Tablet */
  @media (max-width: 1024px) {
    grid-template-columns: 100%;
    justify-content: center;
  }
  /* Estilo do item */
  .playlist-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    text-decoration: none;
    height: 100%;
    width: 80%;

    @media (max-width: 1024px) {
      padding: 2vh;
      margin: 0 auto;
    }

    /* Animação barra de progresso */
    &:hover .playlist-bar {
      transition: 1s ease-in-out;
      width: 100%;
    }
    /* Estilo barra de progresso  */
    .playlist-bar {
      width: 0%;
      background-color: white;
      border-radius: 5px;
      height: 3px;
      margin: 0 auto 1vh;

      /* Media query para Telas menores que Tablet */
      @media (max-width: 1024px) {
        margin: 0 0 1vh;
        height: 2px;
      }
    }
    .playlist-title {
      display: flex;
      height: auto;
      width: 100%;
      gap: 15px;

      img {
        width: 18px;
        @media (max-width: 1024px) {
          width: 14px;
        }
      }

      h3 {
        height: max-content;
        margin-top: auto;

        /* Media query para Telas menores que Tablet */
        @media (max-width: 1024px) {
          font-size: small;
          width: 100%;
        }
      }
    }
  }
}
