
  .desc-projects{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
  }

  @media(max-width:700px){
    .desc-projects{
      width: 90%;
      font-size: small;
    }

    
     

    
  }